.container {
    margin-top: 80px;
    width: 900px;

    form {
        margin: 1.5rem;
        .form-group {
            .form-control {
                display: inline-block;
                margin-top: 20px;
            }

            .btn-primary {
                margin: 15px 0px;
            }
        }

        .alert {
            margin-top: 20px;
        }
    }
}
