@import url('./index.css');

.container {
    width: 1200px;
    margin-top: 100px !important;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

thead tr {
    background-color: var(--dark-blue);
    color: white;
}

thead tr th {
    padding: 1rem 0rem;
}

tbody tr td .product-image {
    height: 100px;
    width: 100px;
}

tbody {
    text-align: center;
}

tbody tr:nth-child(2n) {
    background-color: var(--light-gray);
}

tbody tr td {
    padding: 1rem 0rem;
    font-weight: bold;
}

tbody tr td .product-image {
    margin: auto;
}

tbody tr td .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

tbody .edit-icon:hover {
    cursor: pointer;
    background-color: var(--light-green);
    padding: 0.7rem;
    border-radius: 50%;
    box-sizing: content-box;
}

tbody .trash-icon:hover {
    cursor: pointer;
    background-color: var(--light-red);
    padding: 0.7rem;
    border-radius: 50%;
    box-sizing: content-box;
}

form button {
    background-color: transparent;
    border: none;
}
