* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 600px;
    box-shadow: 2px 2px 10px rgb(221, 221, 221);
    padding: 2rem;
    border-radius: 7px;
}

h2 {
    margin-bottom: 25px;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    font-weight: bold;
}

#after-price,
#tax-rate {
    width: 350px;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    border: none;
    border: 1px solid black;
    resize: none;
    outline: none;
}

input[type='submit'],
input[type='reset'] {
    margin-top: 30px;
    background-color: #08bd8f;
    color: white;
    border: none;
    border: 1px solid #08bd8f;
    margin-right: 15px;
    padding: 0.6rem 1.5rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

input[type='reset'] {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    font-weight: normal;
}

.error-container {
    width: 500px;
    max-height: 100px;
    margin-top: 60px;
    background-color: #ec4646;
    border-radius: 7px;
    color: white;
    padding: 0.8rem 2rem;
}

svg {
    display: inline-block;
    fill: white;
    transform: scale(0.7) translateY(7px);
    margin-right: 20px;
}

.info-container {
    width: 600px;
    margin-top: 60px;
    padding: 1rem 2rem;
    background-color: #468eec;
    color: white;
    border-radius: 7px;
}

.info-container p {
    margin-bottom: 10px;
}

.info-container h2 {
    margin-bottom: 0 !important;
    margin-top: 20px;
}
